.home-container{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 8%;
    border-radius: 10px;
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;


}

.heading{
    margin-top: 8%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

}